doctype html

html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    div.background

    div.header
      h1.logo(onclick='location.href=\'/\'') DGDB

    div.sidebar
      p
        | <a href='/'>Home</a>

    block content
