doctype html

html
  head
    title= title

    link(rel='stylesheet' href='/stylesheets/flags/flags.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    div.background

    div.header
      h1.logo(onclick='location.href=\'/\'') DGDB

    div.lang-select
      p
        | <a href='?lang=en'><img class='flag flag-gb' src='/images/flags/blank.gif'></a>
        | <a href='?lang=jp'><img class='flag flag-jp' src='/images/flags/blank.gif'></a>

    div.sidebar
      p
        | <a href='/'>!{__('home:link_to')}</a>
        | <br>
        | <a class='clr-2' href='/user/login'>!{__('user/login:link_to')}</a>
        | <a class='clr-2' href='/user/register'>!{__('user/register:link_to')}</a>

    div.main
      block content
