@import url('https://fonts.googleapis.com/css?family=Orbitron')

clr-rainbow-1 = rgb(255,192,128)
clr-rainbow-2 = rgb(255,128,192)
clr-rainbow-3 = rgb(192,128,255)
clr-rainbow-4 = rgb(128,192,255)
clr-rainbow-5 = rgb(128,255,192)
clr-rainbow-gradient = linear-gradient(90deg,
  clr-rainbow-1,
  clr-rainbow-2,
  clr-rainbow-3,
  clr-rainbow-4,
  clr-rainbow-5
)

clr-error = rgb(255,64,64)

clr-bg-sidebar = rgb(20,25,30)
clr-bg-main = lighten(clr-bg-sidebar, 10%)

clr-link = clr-rainbow-4
clr-form = clr-rainbow-5

body
  margin 0
  background black

  font 8pt Verdana
  color white

div.background
  width 100%
  height 100%
  position fixed
  z-index -3

  background url('/images/background.png') repeat
  filter blur(3px)

  animation 60s anim-div-background linear infinite

@keyframes anim-div-background
  0%
    background-position-x 100%
  100%
    background-position-x 0

div.header
  background alpha(black, 20%)

div.lang-select
  position absolute
  top 5px
  right 5px

div.sidebar
  width 260px
  min-height 100vh
  position absolute
  top 0
  z-index -1

  background clr-bg-sidebar
  border-right 1px alpha(clr-bg-main, 50%) solid

div.sidebar p
  padding 0
  margin-top 100px

  font-size 10pt

div.sidebar a
  display block

  padding-top 5px
  padding-bottom 5px
  padding-left 25px

div.sidebar a:hover
  background-color alpha(black, 30%)

div.main
  position absolute
  top 100px
  left 260px

div.section
  width fit-content
  padding 10px
  margin-bottom 10px

  background alpha(clr-bg-main, 50%)
  box-shadow 5px 5px 0 alpha(black, 15%)

div.error
  background alpha(clr-error, 10%)
  border-left 1px alpha(clr-error, 50%) solid

h1.logo
  width 220px
  padding-bottom 2px
  margin 0
  margin-left 15px

  background clr-rainbow-gradient
  background-size 400% 100%
  background-clip text
  -webkit-background-clip text

  font 50pt Orbitron
  color transparent

  transition 1s background-size
  animation 30s anim-h1-logo ease-in-out infinite alternate

@keyframes anim-h1-logo
  0%
    background-position-x 0
  100%
    background-position-x 100%

h1.logo:hover
  background-size 100% 100%
  cursor pointer

p, pre
  margin 0

a
  text-decoration none
  color clr-link

a.clr-2
  color clr-rainbow-1

label
  font-size 7pt
  color alpha(white, 50%)

input
  background alpha(black, 20%)
  border none

  font 8pt Verdana
  color white

input:hover
  background alpha(black, 30%)

input[type='text'], input[type='password']
  width 500px
  padding 3px
  margin-top 3px

input[type='submit']
  min-width 100px
  padding 7px

  border 1px clr-bg-main solid

input[type='submit']:hover
  background alpha(clr-form, 10%)
  border 1px alpha(clr-form, 50%) solid
  box-shadow 0 0 10px alpha(clr-form, 50%)

  cursor pointer
