@import url("https://fonts.googleapis.com/css?family=Orbitron");
.small {
  font-size: 8pt;
}
.subdued {
  color: rgba(255,255,255,0.5);
}
body {
  margin: 0;
  background: #000;
  font: 8pt Verdana;
  color: #fff;
}
div.background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
  background: url("/images/background.png") repeat;
  filter: blur(3px);
  animation: 60s anim-div-background linear infinite;
}
div.header {
  z-index: 1;
  background: rgba(0,0,0,0.2);
}
div.lang-select {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
}
div.sidebar {
  width: 260px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  background: #14191e;
  border-right: 1px rgba(38,48,58,0.5) solid;
}
div.navigation {
  width: 260px;
  position: absolute;
  top: 0;
  margin-top: 100px;
}
div.navigation p {
  padding: 0;
  font-size: 10pt;
}
div.navigation span.label {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  background: linear-gradient(transparent, rgba(38,48,58,0.5));
  border-top: 1px rgba(38,48,58,0.5) solid;
}
div.navigation a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
}
div.navigation a:hover {
  background-color: rgba(0,0,0,0.3);
  text-decoration: none;
}
div.main {
  position: absolute;
  top: 100px;
  left: 262px;
}
div.section {
  width: fit-content;
  padding: 10px;
  margin-bottom: 10px;
  background: rgba(38,48,58,0.5);
  box-shadow: 5px 5px 0 rgba(0,0,0,0.15);
}
div.success {
  background: rgba(64,255,64,0.1);
  border-top: 1px rgba(64,255,64,0.5) solid;
}
div.success p,
div.success pre {
  color: #a0ffa0;
}
div.error {
  background: rgba(255,64,64,0.1);
  border-top: 1px rgba(255,64,64,0.5) solid;
}
div.error p,
div.error pre {
  color: #ffa0a0;
}
h1.logo {
  width: 220px;
  padding-bottom: 2px;
  margin: 0;
  margin-left: 15px;
  background: linear-gradient(90deg, #ffc080, #ff80c0, #c080ff, #80c0ff, #80ffc0);
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  font: 50pt Orbitron;
  color: transparent;
  transition: 1s background-size;
  animation: 30s anim-h1-logo ease-in-out infinite alternate;
}
h1.logo:hover {
  background-size: 100% 100%;
  cursor: pointer;
}
p,
pre {
  margin: 0;
}
span.label {
  font-size: 8pt;
}
a {
  text-decoration: none;
  color: #80c0ff;
}
a:hover {
  text-decoration: underline;
}
a.clr-2 {
  color: #ffc080;
}
label {
  font-size: 7pt;
  color: rgba(255,255,255,0.5);
}
input {
  background: rgba(0,0,0,0.2);
  border: none;
  font: 8pt Verdana;
  color: #fff;
}
input:hover {
  background: rgba(0,0,0,0.3);
}
input[type='text'],
input[type='password'] {
  width: 500px;
  padding: 3px;
  margin-top: 3px;
}
input[type='submit'] {
  min-width: 100px;
  padding: 7px;
  border: 1px #26303a solid;
}
input[type='submit']:hover {
  background: rgba(128,255,192,0.1);
  border: 1px rgba(128,255,192,0.5) solid;
  box-shadow: 0 0 10px rgba(128,255,192,0.5);
  cursor: pointer;
}
@-moz-keyframes anim-div-background {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0;
  }
}
@-webkit-keyframes anim-div-background {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0;
  }
}
@-o-keyframes anim-div-background {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0;
  }
}
@keyframes anim-div-background {
  0% {
    background-position-x: 100%;
  }
  100% {
    background-position-x: 0;
  }
}
@-moz-keyframes anim-h1-logo {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}
@-webkit-keyframes anim-h1-logo {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}
@-o-keyframes anim-h1-logo {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}
@keyframes anim-h1-logo {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100%;
  }
}
